@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

body {
  font-family: mono, 'DM Sans', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  /* background-color: rgb(26, 27, 32) !important; */
}

button.wallet-adapter-button.css-16x1xow {
  display: table-cell !important;
  text-transform: uppercase !important;
  background-color: white !important;
  color: black !important;
  border-radius: 0px !important;
  font-family: monospace !important;
  width: 100% !important;
}

button.wallet-adapter-button:hover.css-16x1xow {
  display: table-cell !important;
  text-transform: uppercase !important;
  background-color: white !important;
  color: black !important;
  border-radius: 0px !important;
  font-family: monospace !important;
  width: 100% !important;
} 