@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Impact Label";
  src: url('../public/Impact_Label_Reversed-webfont.woff') format('woff');
}

body {
  font-family: "Impact Label", mono, 'DM Sans', Roboto, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
}

.wallet-button {
  display: table-cell;
  text-transform: uppercase;
  background-color: white;
  color: black;
  border-radius: 0px;
  font-family: "Impact Label", ui-monospace, monospace;
}

.font-mono {
  font-family: "Impact Label", ui-monospace, monospace !important;
  font-size: 20px;
}