@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gothic Book";
  src: url('../public/Franklin_Gothic_Book_Regular.ttf') format('ttf');
}

body {
  font-family: 'Gothic Book', 'DM Sans', Roboto, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
    color: black;
    background-color: white;
}

.wallet-button {
  display: table-cell;
  text-transform: uppercase;
  background-color: white;
  color: black;
  border-radius: 0px;
  font-family: 'Gothic Book', Roboto, "DM Sans", ui-monospace, monospace;
}

.font-mono {
  font-family: 'Gothic Book', Roboto, "DM Sans", ui-monospace, monospace !important;
  font-size: 16px;
}